<!--The content below is only a placeholder and can be replaced.-->
<div class="form-group">
  <div>
    <label>Given Name</label>
    <input type="text" class="form-control" [(ngModel)]="card.givenName" />
  </div><div>
    <label>Additional Name</label>
    <input type="text" class="form-control" [(ngModel)]="card.additionalName" />
  </div>
  <div>
    <label>Family Name</label>
    <input type="text" class="form-control" [(ngModel)]="card.familyName" />
  </div>
  <div>
    <label>Organisation</label>
    <input type="text" class="form-control" [(ngModel)]="card.org" />
  </div>
  <div>
    <label>Photo</label>
    <input type="text" class="form-control" [(ngModel)]="card.photo" />
  </div>
  <div>
    <label>Url</label>
    <input type="text" class="form-control" [(ngModel)]="card.url" />
  </div>
  <div>
    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]="card.email" />
  </div>
  <div>
    <label>Tel</label>
    <input type="text" class="form-control" [(ngModel)]="card.tel" />
  </div>
</div>

<hcard [card]="card"></hcard>